body { 
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  line-height: 2.5;
  background-image: url('../img/fon.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  opacity: 0.95;
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

.header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: -20px 0 100px 0 ;
  text-align:start;
  align-self:baseline;
  justify-content: center;
  align-items: center;
  background-color: rgb(202, 197, 197);
  border-radius: 10px;
  opacity: 0.9;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: space-around;
  position: relative;
}

.nav-item {
  display: flex;
  align-self: center;
}

.footer {
  margin-top: 200px;
  min-height: 200px;
  width: 100%;
  background-color: gray;
}



/* @media (max-width: 700px) {
  .nav-item {border: 1px solid red;}
  .nav {flex-direction: column; align-items:center; }
}
 */
@media (max-width: 768px) {
  .advantage {flex-direction: column;}
  .advantage-item{ max-width: 90%;
  border: 1px solid red;
max-height: 100px;}

}
  

a {
  padding: 15px 10px;
  text-decoration: none;
  color:rgb(194, 19, 19);
  font-weight: bold;
  font-size: 16px;
  border-radius: 10px;
  box-shadow: 15px 15px 30px -5px #444343;

  }

.advantage  {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 70%;
}
  
.advantage-item {
  display: flex;
  margin: 10px auto;
  max-width: 45%;
  min-height: 200px;
  flex-grow: 1;
  opacity: 0.9;
  align-items:center;
}

.shadow{
  border-radius: 15px;
  background: rgb(177, 175, 175) radial-gradient(circle at 0 0, rgba(255,255,255,.65), rgba(255,255,255,.35));
  box-shadow:
   inset rgba(0,0,0,.5) -3px -3px 8px,
   inset rgba(255,255,255,.9) 3px 3px 8px,
   rgba(0,0,0,.8) 3px 3px 8px -3px;
}

.advantage-item:hover,
.advantage-item:focus
{
  background-color: lightgrey;
  opacity: 1;
}

.sh {
  text-transform: none;
  font-weight: bolder;
  font-family:Cinzel;
  font-size: 40px;
  color:rgb(194, 19, 19);

}

h1 {
  color:rgb(194, 19, 19);
  font-weight: bold;
  font-size: 10vh;
  padding: 0;
  text-shadow: 0px 1px 2px rgb(255, 254, 254), 0 0 2px red;
  font-family: 'Dela Gothic One';
}

h2 {
  font-size:4vh;
  color:rgb(194, 19, 19);
}

h3 {
  font-size: 3vh;
  font-weight: bold;
  color:rgb(194, 19, 19);
  text-align:center;
}

h4 {
  font-size: 4vh;
  font-weight: bold;
  color:rgb(194, 19, 19);
  text-align:center;
  font-style: italic;
  margin: -50px 0 200px 0;
  text-shadow: 0px 1px 1px rgb(250, 243, 243), 0 0 2px red;
  font-family: 'Lobster';

}

p {
  width: 100%;
  font-size: 2vh;
  text-align: center;
  font-weight: bold;
}

button {
  height: 60px;
  border-radius: 10px;
  background: rgb(177, 175, 175) radial-gradient(circle at 0 0, rgba(255,255,255,.45), rgba(255,255,255,.35));
  box-shadow:
   inset rgba(189, 185, 185, 0.5) -3px -3px 8px,
   inset rgba(255,255,255,.9) 1px 1px 7px,
   rgba(151, 137, 137, 0.8) 3px 3px 3px -7px;
}

a:focus,
a:active,
a:hover {
  background-color: lightgrey;
}

.modal{  color:rgb(194, 19, 19);

  position:fixed;
  top:0;
  left:0;
  z-index:1050;
  display: none;
  width:100%;
  height:100%;
  overflow:hidden;
  background-color:rgba(0,0,0,.5)
}

.modal__dialog {
  max-width:500px;
  margin:40px auto
}

.modal__content {
  position:relative;
  width:100%;
  padding:40px;
  background-color:#fff;
  border:1px solid rgba(0,0,0,.2);
  border-radius:4px;
  max-height:80vh;
  overflow-y:auto
}

.modal__close {
  position:absolute;
  top:8px;
  right:14px;
  font-size:30px;
  color:#000;
  opacity:.5;
  font-weight:700;
  border:none;
  background-color:transparent;
  cursor:pointer
}

.modal__title 
{
  text-align:center;
  font-size:22px;
  text-transform:uppercase
}

.modal__input {
  display:block;
  margin:20px auto 20px auto;
  width:280px;
  height:50px;
  background:#fff;
  box-shadow:0 4px 15px rgba(0,0,0,.2);
  border:none;
  font-size:18px;
  text-align:center;
  padding:0 20px;
  outline:0
}

.modal .btn {
  display:block;
  width:280px;
  margin:0 auto
}